.root {
	-fx-font-size: 10pt;
}

Button { 
	-fx-border-radius: 15 15 15 15;    
}

.table-column {
	-fx-alignment: CENTER;
}

#theme_switch{
	-fx-background-radius: 30px;
	-fx-min-width: 30px;
	-fx-min-height: 30px;
	-fx-max-width: 30px;
	-fx-max-height: 30px;
}